<footer class="footer">
    <div class="container">
        <div class="footer__grid d-flex">
            <div class="footer__col">
                <a href="#" class="logo footer__logo">
                    <img src="../img/header__logo.png" alt="Логотип">
                 </a>
                <div class="social d-flex footer__social">
                    <a href="https://vk.com/bananaweb" rel="nofollow" class="footer__social-link social__link_icon social__link_gradient-orange social__link social__link_icon-vk">vk</a>
                    <a href="https://www.facebook.com/bananaweb.ru" rel="nofollow" target="_blank" class="footer__social-link social__link_icon social__link_gradient-orange social__link social__link_icon-fb">fb</a>
                    <a href="https://twitter.com/BananaWEB1" rel="nofollow" target="_blank" class="footer__social-link social__link_icon social__link social__link_gradient-orange social__link_icon-tw">tw</a>
                </div>
            </div>
            <div class="footer__col d-flex">
                <div class="footer__list-block list-block">
                    <h3 class="list-block__title">Знакомство</h3>
                    <div class="list-block__grid d-flex">
                        <ul class="footer__list list">
                            <li class="list__item"><a href="#" class="list__link">Об агенстве</a></li>
                            <li class="list__item"><a href="#" class="list__link">Портфолио</a></li>
                            <li class="list__item"><a href="#" class="list__link">Отзывы</a></li>
                            <li class="list__item"><a href="#" class="list__link">Вопросы</a></li>
                            <li class="list__item"><a href="#" class="list__link">Блог</a></li>
                        </ul>
                        <ul class="footer__list list">
                            <li class="list__item"><a href="#" class="list__link">Кейсы</a></li>
                            <li class="list__item"><a href="#" class="list__link">Вакансии</a></li>
                            <li class="list__item"><a href="#" class="list__link">Контакты</a></li>
                            <li class="list__item"><a href="#" class="list__link">Акции</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer__list-block list-block">
                    <h3 class="list-block__title">Услуги</h3>
                    <ul class="footer__list list">
                        <li class="list__item"><a href="#" class="list__link">Продвижение сайтов</a></li>
                        <li class="list__item"><a href="#" class="list__link">Создание сайтов</a></li>
                        <li class="list__item"><a href="#" class="list__link">Контекстная реклама</a></li>
                        <li class="list__item"><a href="#" class="list__link">Комплексная реклама</a></li>
                        <li class="list__item"><a href="#" class="list__link">SMM</a></li>
                        <li class="list__item"><a href="#" class="list__link">Аудит</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__col">
                <div class="contact-block footer__contact-block d-flex">
                    <i class="contact-block contact-block_icon contact-block_icon-phone"></i>
                    <div class="contact-block__inner d-flex">
                        <a href="tel:+78127704804" class="contact-block__item">+7 (812) 770-48-04</a>
                        <a href="tel:+74991109547" class="contact-block__item">+7 (499) 110-95-47</a>
                    </div>
                </div>
                <div class="contact-block footer__contact-block d-flex">
                    <i class="contact-block contact-block_icon contact-block_icon-mail"></i>
                    <div class="contact-block__inner d-flex">
                        <a href="mailto:sale@bananaweb.ru" class="contact-block__item">sale@bananaweb.ru</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="js/main.js"></script>
</body>

</html>