<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <title>bananas</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__top">
                <div class="header__container container">
                    <div class="header__grid d-flex">
                        <a href="#" class="header__logo">
                            <img src="../img/header__logo.png" alt="Логотип">
                         </a>
                        <div class="icons header__icons">
                            <img src="../img/tagline__icon.png" class="icon__item" alt="">
                            <img src="../img/runet__icon.png" class="icon__item" alt="">
                        </div>
                        <div class="contact-block header__contact-block header__contact-block_icon-phone d-flex">
                            <a href="tel:+78127704804" class="contact-block__item">+7 (812) 770-48-04</a>
                            <a href="tel:+74991109547" class="contact-block__item">+7 (499) 110-95-47</a>
                        </div>
                        <div class="contact-block header__contact-block header__contact-block_icon-mail">
                            <a href="mailto:sale@bananaweb.ru" class="contact-block__item">sale@bananaweb.ru</a>
                        </div>
                        <a href="#" class="callback header__callback header__callback_icon">Заказать звонок</a>
                    </div>
                </div>
            </div>
            <div class="header__bottom">
                <div class="header__container  container">
                    <ul class="header__menu menu menu_style-none d-flex">
                        <li class="menu__item">
                            <a class="menu__link" href="#">Об агенстве</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">Продвижение сайтов</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">Создание сайтов</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">Контекстная реклама</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">Комплексная реклама</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">Портфолио</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">Отзывы</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>