/*= ../../bower_components/slick-carousel/slick/slick.css*/


/*= ../../bower_components/owl.carousel/dist/assets/owl.carousel.min.css*/


/*= ../../bower_components/owl.carousel/dist/assets/owl.theme.default.css*/


/*= ../../bower_components/magnific-popup/dist/magnific-popup.css*/


/*= ../../bower_components/ion.rangeSlider/css/ion.rangeSlider.css*/


/*= ../../bower_components/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css*/


/*= ../../bower_components/ion.rangeSlider/css/ion.rangeSlider.skinHtml5.css*/


/*= ../../bower_components/ion.rangeSlider/css/ion.rangeSlider.skinModern.css*/


/*= ../../bower_components/ion.rangeSlider/css/ion.rangeSlider.skinNice.css*/


/*= ../../bower_components/ion.rangeSlider/css/ion.rangeSlider.skinSimple.css*/

@import "partials/vars";
@import "partials/mixin";
@import "partials/fonts";
@import "partials/magnific";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    margin-right: 0 !important;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    min-width: 320px;
    position: relative;
    z-index: 20;
    font-size: 18px;
    line-height: normal;
    background-color: #ffffff;
    color: rgba(#000, 0.6);
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.main {
    position: relative;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.container {
    width: 1230px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

a,
button {
    cursor: pointer;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

// list
ul,
ol {
    color: rgba(#000, 0.6);
}

ul {
    list-style: none;
}

ul li {
    display: flex;
    align-items: center;
}

ul li:before {
    content: '';
    width: 20px;
    height: 1px;
    background-color: #e6a043;
    background: linear-gradient(90deg, #e6a043, #e85627);
    margin-right: 11px;
}


// buttons
.button {
    position: relative;
    border: none;
    background-color: #e6a043;
    background: linear-gradient(90deg, #e6a043, #e85627);
    color: #fffeff;
    font-size: 14px;
    border-radius: 16px; // height: 60px;
    padding: 15px 20px 15px;


    &:after {
        content: '';
        position: absolute;
        width: inherit;
        height: inherit;
        left: 0;
        right: 0;
        background-color: #e6a043; // background: linear-gradient(90deg, rgba(230, 160, 67, 0.50), rgba(232, 86, 39, 0.50));
        background: linear-gradient(90deg, #73481f, #743417);
        border-radius: 16px;
        z-index: -1;
        top: 6px;
    }

    &_text-left {
        text-align: left;
    }
}


// titles
.title-def {
    font-size: 70px;
    line-height: 70px;
    color: #fff;
    margin-bottom: 20px;
    font-family: 'EtelkaText';

    &_color-dark {
        color: #2d2d2d;
    }

    &_color-black {
        color: #000;
    }
}

.contact-block {
    flex-direction: column;

    &__item {
        color: #fff;
        font-size: 18px;
        line-height: normal;
    }
}

.callback {
    color: #fff;
}

.menu {

    &__link {
        color: #fff;
    }

    &_style-none {
        list-style: none;
    }

    &__item {

        &:before {
            display: none;
        }
    }
}

.social {
    &__item {
        color: #fff;
    }
}

.header {
    &__top {
        height: 90px;
        background-color: #383838;
        background-image: url(../img/header-bg.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &__bottom {
        height: 30px;
        background-color: rgba(#323232, .60);
    }

    &__grid {
        height: inherit;
        align-items: center;
        justify-content: space-between;
    }

    &__container {
        height: inherit;
    }

    &__contact-block {
        color: #fff;
    }

    &__menu {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 13px;
        height: inherit;
    }
}


.breadcrumbs {
    font-size: 13px;
    line-height: normal;
    font-weight: 400;
    text-transform: uppercase;

    &_mt-45 {
        margin-top: 45px;
    }

    &__item {
        color: #aaaaaa;
        margin-right: 10px;

        &:after {
            content: '🡒';
            width: 10px;
            height: 2px;
        }

        &:last-child:after {
            display: none;
        }
    }

    &__link {
        color: #5e5e5e;
        padding-right: 10px;
    }
}

.title {
    font-family: 'EtelkaText';

    &__gradient {

        &_orange {
            background: linear-gradient(90deg, #e6a043, #e8642c);
            -webkit-background-clip: text;
            color: transparent;
        }
    }
}

.promo {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 245px;

    &__top {
        position: relative;
        padding: 45px 0px 0px;
        z-index: 10;
    }

    &__title {
        color: #fefefe;
        font-size: 70px;
        line-height: 70px;
        letter-spacing: 0px;
    }

    &__center {
        position: relative;
        height: 100%;
        width: 100%;
        top: -250px;
        z-index: 0;
    }

    &__bottom {
        position: absolute;
        bottom: -80px;
        left: 0;
        right: 0;
    }

    &__grid {

        &_justify-between {
            justify-content: space-between;
        }

        &_mt-40 {
            margin-top: 45px;
        }
    }

    &__form {
        margin-top: 97px;
        position: relative;
        z-index: 10;
    }
}

.achieve {
    background-image: url(../img/promo-center__back.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 1560px;
    padding-top: 25%;
    padding-bottom: 50%;

    &__range {
        margin-top: 40px;
    }

    &__slider {
        min-height: 300px;
        padding-top: 55px;
    }

    &__item {
        min-height: 255px;
        border-radius: 15px;
        width: 350px;
        background: linear-gradient(0deg, #ffffff, #ececec);
        position: relative;
    }

    &__image {
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
    }


    &:before {
        content: '';
        background-color: #f5f5f5;
        height: 210px;
        position: absolute;
        left: -100%;
    }

    &:after {
        content: '';
        background-color: #f5f5f5;
        height: 210px;
        position: absolute;
        right: -100%;
    }


    &__top {
        // background-image: url(../img/promo-center__top.png);
        background-position: top center;
        background-repeat: no-repeat; // height: 450px;
        width: 100%;
        position: relative;
    }

    &__middle {
        position: relative; // background-color: #f5f5f5;
        // height: 500px;
    }

    &__bottom {
        // background-image: url(../img/promo-center__bottom.png);
        background-position: bottom center;
        background-repeat: no-repeat; // height: 455px;
        bottom: 0;
        width: 100%;
        margin-top: -2px
    }
}


.pros {
    width: 670px;


    &__box {
        width: 60px;
        height: 60px;
        background-color: #e6a043;
        background: linear-gradient(90deg, #e6a043, #e85627);
        border-radius: 16px;
        margin-right: 15px;
        flex: 1 0 auto;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: inherit;
            height: inherit;
            background-color: #e6a043;
            background: linear-gradient(90deg, #73481f, #743417);
            border-radius: 16px;
            z-index: -1;
            top: 5px;
        }
    }

    &__text {
        color: #fefefe;
        font-size: 22px;
        line-height: 22px;
    }

    &__item {
        flex-direction: row;
        align-items: center;
        margin-bottom: 50px;
        width: 50%;
    }


    &_mt-65 {
        margin-top: 65px;
    }
}

.form {
    min-height: 290px;
    background-color: rgba(#000, 0.7);
    border-radius: 22px;
    padding: 36px 55px 20px 42px;
    position: relative;

    &_bg-dark {
        background: linear-gradient(90deg, #2e2e2e, #000000);
    }

    &_width-small {
        width: 612px;
    }

    &__title {
        font-size: 22px;
        font-family: 'EtelkaText';
    }

    &__input {
        background: transparent;
        border: none;
        border-bottom: 1px solid #3d3d3d;
        outline: #3d3d3d;
        color: #fff;
    }

    &__inset {
        margin: 25px 0px 0px;
        justify-content: space-between;
    }

    &__group {
        position: relative;
        width: 203px;
        display: flex;
        align-items: center;
        &:first-child {
            margin-left: 68px;
        }
    }

    &__input {
        width: 100%;
        font-size: 15px;
        height: 50px;
    }

    &__label {
        position: absolute;
        left: -30px;
        display: flex;
        color: rgba(#fff, 0.6);
    }

    &__bottom {
        margin-top: 25px;
        width: 100%;
        position: relative;
        align-items: center;
    }

    &__descr {
        letter-spacing: -.025em;
        font-style: italic;
        font-size: 14px;
        color: #3f3f3f;
        width: 335px;
    }

    &__button {
        position: absolute;
        right: -90px;
        width: 252px;
    }
}

.advantages {
    background-image: url(../img/advantages-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 85px 0px 44px;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        background-color: #f7f7f7;
        background: linear-gradient(0deg, #f7f7f7, #fff);
        z-index: -1;
    }


    &__box {
        width: 130px;
        height: 130px;
        background-color: #e6a043;
        background: linear-gradient(90deg, #e6a043, #e85627);
        border-radius: 24px;
        margin-right: 15px;
        flex: 1 0 auto;
        position: relative;
        margin: 0 auto;
        box-shadow: -6.729px 1.929px 7px 0px rgba(0, 0, 0, 0.24);

        &:after {
            content: '';
            position: absolute;
            width: inherit;
            height: inherit;
            background-color: #e6a043;
            background: linear-gradient(90deg, #73481f, #743417);
            border-radius: 24px;
            z-index: -1;
            top: 5px;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 22px;
        color: #727272;
        text-align: center;
        margin: 20px auto 0px;
        width: 80%;
        padding: 0px 24px;
        font-family: 'EtelkaLight';
    }

    &__item {
        flex-direction: column;
        margin: 0 auto 50px;
        width: 50%;
    }

    &__items {
        margin-top: 50px;
    }

    &__col {
        position: relative;
        z-index: 10;

        &_pt-large {
            padding-top: 111px;
        }

        &_lg-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}

.clients {
    margin-top: 128px;
    min-height: 200px;
    padding-bottom: 66px;

    &__slider {
        align-items: center;
        position: relative;
        padding: 16px 0px 30px;
    }

    &__item {
        margin: auto;
        display: flex !important;
        justify-content: center;
        align-items: center;
        height: 130px;
        width: 130px;
    }
}

.clients__slider .slick-arrow {
    position: absolute;
    right: 45px;
    top: -54px;
}

.slick-arrow {
    border: none;
    background: none;
    font-size: 0;
    outline: #e8682e;
}


.clients__slider .slick-prev:before {
    top: 50%;
    right: 10px;
}

.clients__slider .slick-next:before {
    top: 50%;
    left: 10px;
}


.slick-prev:before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    background-image: url(../img/arrow-left.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
}


.slick-next:before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    background-image: url(../img/arrow-right.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
}

.examples {
    position: relative;
    min-height: 1220px;
    margin-bottom: 100px;
    padding: 140px 0px 0px;
    z-index: 12;


    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        background-color: #e85627;
        background: linear-gradient(90deg, #fc9e39, #e8642c);
        z-index: -1;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
    }


    &:after {
        content: '';
        position: absolute;
        background-image: url(../img/examples-back-image.png);
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
        width: 826px;
        height: 400px;
        top: 100px;
    }

    &__grid {
        justify-content: space-between; // position: absolute;
        // max-width: 1200px;
        margin-top: 100px;
    }

    &__image {
        width: 100%;
        &_pos-abs {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    &__inset {
        position: relative;
        z-index: 10;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        opacity: 0;
        transition: opacity 0.4s ease-in;
    }

    &__text {
        color: #fff;
        padding: 24px 20px 24px 28px;
        width: 100%;
        font-size: 24px;
        background: rgba(#000, 0.62);
    }

    &__item {
        position: relative;
        margin-bottom: 30px;
        flex: 1 0 auto;

        &_width-100 {
            flex: 1 100%;
        }

        &_width-33 {
            flex: 1 0 33.33%;
            max-width: calc(33.33% - 19px);
            height: 220px;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 16px 20px 14px 25px;

        &:after {
            top: 4px;
        }

        &_pos-absol {
            position: absolute;
            right: -20px;
            bottom: 20px;
        }
    }
}


.more-w {
    margin-top: 133px;

    &__title {
        font-size: 120px;
        line-height: normal;
    }
}


.steps {

    justify-content: space-between;

    &__title {
        font-size: 24px;
        color: #000;
        margin-bottom: 23px;
    }

    &__item {
        padding-right: 30px;
        width: 33.33%;
    }

    &__text {
        font-family: 'EtelkaLight';
        font-size: 17px;
        color: rgba(#000, 0.6);
    }
}


.credibility {
    margin: 143px 0px 0px;
    position: relative;

    &__title {
        font-size: 80px;
        line-height: 80px;
        justify-content: space-between;

        &_width-medium {
            width: 800px;
            margin: 0 auto;
        }

        &_pic-line {

            &:before {
                content: '';
                position: absolute;
                background: no-repeat center center url(../img/credibility-line.png);
                background-position: calc(50% - 120px) calc(50% - 10px);
                background-repeat: no-repeat;
                width: 100%;
                height: 300px;
                top: -100px;
                left: 0;
                right: 0;
            }
        }

        &-sub {
            color: #606060;
            font-size: 70px;
            line-height: 70px;
            text-align: right;
            flex: 1 1 100%;
        }

        &-gradient {
            flex: 2 1 auto;
        }
    }

    &__grid {
        justify-content: space-between;
    }

    &__text {
        font-size: 17px;
        line-height: 24px;
        font-family: 'EtelkaLight';
        margin-top: 14px;
    }

    &__col {
        position: relative;

        &_right {
            margin-left: 33.33%;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__image-left {
        position: absolute;
        margin-left: -177px;
        top: -100px;
    }

    &__lk {
        margin-top: 80px;
    }

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        background-color: #e85627;
        background: linear-gradient(0deg, #f1f1f1, #ffffff);
        z-index: -1;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    }
}


.info {
    justify-content: space-between;
    margin-top: 104px;
    padding: 0px 15px;

    &__item {
        flex-direction: column;
        align-items: center;
        align-content: center;
        text-align: center;
        padding: 0px 15px;


        &_two {
            margin-top: 115px;
        }

        &_three {
            margin-top: 225px;
        }
    }

    &__text {
        color: rgba(#000, 0.6);
        width: 80%;
        font-weight: 400;
        margin: 24px 0px 0px;
    }

    &__name {
        background: -webkit-linear-gradient(left, #e6a043, #e85627);
        background: -o-linear-gradient(left, #e6a043, #e85627);
        background: linear-gradient(to right, #e6a043, #e85627);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        margin: 24px 0px 0px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
    }
}

.lk {


    &__grid {
        justify-content: space-between;
    }

    &__bottom {
        margin-top: 30px;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
    }

    &__pass {
        border-radius: 20px;
        background-color: #f3f3f3;
        padding: 10px 33px 12px;
        position: relative;
        left: 15px;
        font-size: 15px;
    }

    &__name {
        margin-right: 6px;
        display: flex;
        align-items: center;
        color: #8b8b8b;


        &:after {
            content: '';
            width: 10px;
            height: 10px;
            background-color: #e69d43;
            border-radius: 50%;
            margin-left: 6px;
        }
    }

    &__val {
        text-transform: uppercase;
        margin-left: 3px;
        font-weight: 700;
    }
}


.lk__name:last-child:after {
    display: none;
}

.included {
    margin-top: 140px;

    &__name {
        background: -webkit-linear-gradient(left, #e6a043, #e85627);
        background: -o-linear-gradient(left, #e6a043, #e85627);
        background: linear-gradient(to right, #e6a043, #e85627);
        -webkit-background-clip: text;
        color: transparent;
        font-size: 24px;
        line-height: 26px;
        text-transform: uppercase;
        margin: 24px 0px 0px;
        font-family: 'EtelkaText';
    }

    &__text {
        font-size: 17px;
        line-height: 25px;
        margin-top: 8px;
        font-family: 'EtelkaText';
    }

    &__grid {
        justify-content: space-between;
        margin-top: 120px;
    }

    &__col {
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        min-height: 340px;

        &_text-right {
            text-align: right;
        }

        &_padding-around {
            padding: 0px 15px;
        }
    }

    &__item {
        position: relative;
        padding: 0px 15px;
    }

    &__title {
        text-align: center;
    }

    &__image {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
    }

    &__col {

        &_lg-4 {
            width: 33.33%;
        }
    }

    &__circle {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
}

.feedback-block {
    padding: 208px 0px 155px;
    margin-top: 167px;
    background-image: url(../img/feedback-block__image.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}



.reviews {
    background-color: #f9f9f9;
    padding: 156px 0px 152px;

    &__flame {
        position: relative;
    }

    &__range {
        position: relative;
        margin-top: 30px;
    }
    &__item {
        width: 270px;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(#000, 0.4);
            opacity: 0;
            transform: scale(0.8);
            transition: all 0.2s ease-in;
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -20%);
            background-image: url(../img/zoom-in.png);
            background-size: 100%;
            width: 30px;
            height: 30px;
            opacity: 0;
        }
    }

    &__image {
        width: 270px;
        max-width: 100%;
    }
}

.irs-bar,
.irs-bar-edge,
.irs-min,
.irs-max,
.irs-from,
.irs-to,
.irs-single {
    opacity: 0;
}

.irs-slider {
    top: 17px;
    width: 17px !important;
    height: 17px !important;
    background-color: #fff;
    border: 1px solid #808080;
}

.irs {
    width: 634px;
    margin: 0 auto;
    max-width: 100%;
}

.irs-line {
    height: 1px;
    background: #808080;
    border: none;
}

.slider-range {
    overflow: hidden;
    margin-top: 95px;
}

.slider-range .owl-nav {
    position: absolute;
    bottom: 15px;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 800px;
    font-size: 0;
    border: none;

    span {
        display: none;
    }

    button {
        border: none;
    }
}

.owl-prev:before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    background-image: url(../img/arrow-left.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
}


.owl-next:before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    background-image: url(../img/arrow-right.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
}

.owl-item {
    float: left;
    position: relative;
}

.reviews__slider .slick-slide {
    margin-right: 30px;
}

.reviews__slider .slick-slide:last-child {
    margin-right: 0px;
}

.reviews__slider .slick-arrow {
    position: absolute;
    right: 45px;
    top: -55px;
}

.reviews__slider .slick-prev:before {
    right: 10px;
}

.reviews__slider .slick-next:before {
    left: 10px;
}


.footer {
    padding: 176px 0px 127px;
    background-image: url(../img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &__grid {
        justify-content: space-between;
        align-items: flex-start;
    }

    &__list-block {
        margin-right: 82px;
    }

    &__list {
        padding-right: 45px;
    }

    &__contact-block {
        margin-bottom: 43px;
    }
}

.list {


    &__item {
        list-style: none;
        font-size: 15px;
        margin-bottom: 12px;

        &:before {
            display: none;
        }
    }

    &__link {
        color: #d2d2d2;
    }
}


.list-block {

    &__title {
        font-family: 'EtelkaText';
        font-size: 30px;
        color: #858585;
        margin-bottom: 25px;
    }

    &__grid {
        justify-content: space-between;
    }
}

// hover
.examples__item:hover .examples__inset {
    opacity: 1;
    transition: opacity 0.4s ease-in;
}


.reviews__item:hover:before {
    opacity: 1;
    transform: scale(1);
    transition: all 0.3s ease;
}

.reviews__item:hover:after {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in;
}