@font-face {
    font-family: 'EtelkaLight';
    src: url('../fonts/EtelkaLight.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EtelkaText';
    src: url('../fonts/EtelkaText.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

